body {
    background-color: ghostwhite;

}

main{
    background-color: white;
    margin: 30px 140px;   /* 外側の余白 */
    padding: 40px;      /* 内側の余白 */
}
.msg{
    margin:20px,10px;
}

hr{
    margin:10px 0px;
    border-top: dotted;
    color:lightslategray;
}
.paging{
    text-align:center;
}

.menu{
    background-color: rgb(68, 71, 80);
    border-radius: 10px;
    padding: 5px 10px;
    font-weight:bold;
    color:white;
    font-size: small;
}
.submit{
    background-color: rgb(61, 148, 225);
    border-radius: 13px;
    padding: 8px 20px;
    font-weight:bold;
    font-size: larger;
    border:0px;
    color:white;
    display: block;
    margin:auto;
}
.submit:hover{
    cursor: pointer;
}
.submit:active{
    background-color:rgb(50, 124, 190);
}
textarea{
    display:block;
    margin:auto;
    border-color:rgb(183, 196, 209);
    border-width:3px;
    border-radius:8px;
    padding:20px 10px;
}
#inputlength{
    font-size: small;
    text-align: right;
    color: gray;
    margin-right: 163px;
}
.hello{
    text-align: center;
    font-weight: bold;
    color: rgb(110, 114, 128);
}

.msg_box{
    position:relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.icon{
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgb(136, 141, 154);
    
}
.name{
    font-size: smaller;
    font-weight: bold;
    position:absolute;  left:150px;
}
.comment{
    position:absolute;  top:30px; left:150px;
    color:rgb(68, 71, 80);
    width: 550px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(240, 240, 245);
}

.reply{
    color:rgb(110, 114, 128);
}


.btn{
    background-color: rgb(238, 240, 241);
    border-radius: 10px;
    padding: 5px 10px;
    color:gray;
    font-size: small;
    float:right;
    margin-right: 5px;
}

.day{
    color:lightslategray;
    font-size: small;
}

.pgbtn{
    display:inline-block;
    background-color:lightgray;
    font-weight: bold;
    border-radius: 30px;
    margin-right: 5px;
    width:26px;
    padding: 5px;
}
.nowpage{
    background-color: gray;
    color:white;
}


.login_title{
    font-size: 28px;
    color:dimgray
}
.login_content{

    transform: translate(300px, 0px);
}
.error{
    color:red;
    font-size:13px;
}
dt{
    color:rgb(87, 88, 92);
}
.join{
    background-color: rgb(111, 174, 47);
    border-radius: 8px;
    padding: 3px 10px;
    font-weight:bold;
    border:0px;
    color:white;
    display: inline-block;
    margin:auto;
}

.login_btn{
    background-color: rgb(93, 161, 255);
    border-radius: 8px;
    padding: 3px 10px;
    font-weight:bold;
    font-size: larger;
    border:0px;
    color:white;
    display: block;
    transform: translate(100px, 0px);
    
}